body {
    text-align: center;
}

.buttons {
    margin-top: 25px;
}

h1 {
    font-size: 28px;
}

.hint {
    margin-top: 0;
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.container {
    padding: 10px 25px;
    width: 100% !important;
    display: flex;
    align-items: center;
}

.buttons button {
    margin-bottom: 15px;
}

.buttons .heading {
    font-weight: bold;
}

/* .speed-bar {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
} */